EXP_PORTS="5500:5000"
BASE_IMAGE=ubuntu:22.04
LOCALHOST_SSL_CERT=true
USE_FOR_PORTAL=true
PORTAL_CORPORANET_NETWORK=single-cell-data-portal_corporanet
PORTAL_CORPORANET_EXTERNAL=true
# For integration using reverse proxy
PROXY_TRANSFER_PROTOCOL=https
PROXY_API_DOMAIN=explorer.corporanet.local:5500
PROXY_API_BASE_URL=null
