API_DOMAIN=explorer.corporanet.local:5500
WEB_DOMAIN=explorer.corporanet.local:5500
CXG_BUCKET_PATH=corpora-data-dev
BYOD_WORKFLOWS_BUCKET_PATH=corpora-data-dev
DATA_LOCATOR_DOMAIN=explorer.corporanet.local:5500
SKIP_ATAC_CACHE=true
TRANSFER_PROTOCOL=https
S3_REGION_NAME="us-west-2"
VFS_S3_ENDPOINT_OVERRIDE="localstack:4566"
VFS_S3_SCHEMA="http"
# VFS_S3_USE_VIRTUAL_ADDRESSING: false, the bucket name remains part of the URL path: http://localstack:4566/corpora-data-dev/test.cxg
VFS_S3_USE_VIRTUAL_ADDRESSING="false"
FRONTEND_URL="https://frontend.corporanet.local:3000"
